/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
/* header style */
.banner{
    /* border: 2px solid blue; */
    max-width: 1440px;
    height: 652px;
    background-image: url("../B10A1-Challenge-Begins/assets/Hero-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 300px 30px 300px;
}

.banner h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.header-btn{
    width: 208px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}
.banner-btn{
    text-decoration: none;
}

/* Why web development */
.why-web{
    max-width: 946px;
    height: 1235px;
    background-color:rgb(255, 255, 255);
    /* border: 2px solid blue; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 80px 97px 80px 97px;
}
.why-web-text{
    max-width: 949px;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}
.why-web-text h1{
    font-size: 24px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(13, 19, 33);
}
.why-web-text p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.why-web-1, .why-web-2, .why-web-3{
    /* border: 2px solid green; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    max-width: 946px;
    height: 336px;
    padding: 48px;
    gap: 5px;
}
.why-web-1-text,.why-web-2-text, .why-web-3-text{
    width: 50%;
}
.why-web-1-img,.why-web-2-img, .why-web-3-img{
    width: 50%;
}
.why-web-1-text, h4{   
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}
.why-web-1-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.why-web-1-text a{
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
}
.why-web-2-text, h4{   
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}
.why-web-2-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.why-web-2-text a{
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
}
.why-web-3-text, h4{   
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}
.why-web-3-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.why-web-3-text a{
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
}

/* Inspiration style */

.inspiration{
    max-width: 1140px;
    width: 800px;
    height: 575px;
    /* border: 2px solid black; */
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    /* padding: 0px 144px 120px 144px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration-text{
    width: 852px;
    height: 113px;
    gap: 10px;
    padding: 10px 144px 0px 144px;
}
.inspiration-text h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.inspiration-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}
.inspiration-link{
    width: 100%px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 614px;
    margin-top: 0;
    padding-top: 0%;
}

/* current-target */
.current-target{
    max-width: 1140px;
    height: 463px;
    /* border: 2px solid yellow; */
    margin-top: 180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current-target> h2{
    width: 50%;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 10px;
}
.current-target>p{
    width: 50%;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}
.current-target-container{
    display: flex;
    gap: 24px;
}
.target{
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    /* gap: 24px; */
}
.target h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.target p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}
.target a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px 100px 20px 0px;
    text-decoration-line: underline;
}
#html{
    background-color:rgba(255, 76, 30, 0.05) ;
}
#css{
    background-color: rgba(0, 76, 232, 0.05);
}
#js{
    background-color: rgba(255, 223, 0, 0.05);
}
/* need-support */

.need-support{
    background:rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
    background-image: url("../B10A1-Challenge-Begins/assets/handshake.jpg");
    max-width: 1140px;
    height: 310px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 16px;
    margin-bottom: 100px;
    background-position: center;
}
.need-support-title{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.need-support-title h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.need-support-title p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.support{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.support-text{
    width: 550px;
    height: 60px;
    display: inline;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 24px;
}
.support-submit{
    width: 120px;
    height: 57px;
    border: 2px solid white;
    border-radius: 8px;
}

/* footer style */
.footer{
    max-width: 1140px;
    height: 100px;
    /* border: 2px solid burlywood; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px;
    align-items: flex-start;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.logo{
    display: flex;
    margin-right: 0 auto;
    gap: 20px;
}
.footer-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}